@import 'reset';

//colors
$lightest-color: #fff; //white
$darkest-color: #000; //black

$main-font-color: #222; //dark grey
$body-bg-color: #ecedee; //lighter grey
$basic-color: #cdcdcd; //light grey

$action-color: #ea6060; //pink
$effect-color: #565d67; //greyish blue
$sec-color: #777777; //grey

//--------

$content-wrapper-bg-color: $lightest-color;

$play-button-bg-color: $action-color;
$play-button-icon-color: $basic-color;

$main-button-bg-color: $action-color;
$main-button-font-color: $lightest-color;
$main-button-hover-color: $darkest-color;
$main-button-hover-bg-color: $lightest-color;

$main-input-border-color: $darkest-color;

$header-wrapper-bg-color: $basic-color;
$list-bullet-bg-color: $basic-color;

$block-list-bg-color: $basic-color;
$block-list-hover-bg-color: $effect-color;
$block-list-border-color: $lightest-color;
$block-info-text-color: $lightest-color;

$sec-font-color: $sec-color;

$social-link-border-color: $sec-font-color;

$team-carousel-item-bg-color: $basic-color;
$team-carousel-info-text-color: $lightest-color;

$depositions-carousel-img-bg-color: $basic-color;
$depositions-text-color: #4b4b4b;

$footer-bg-color: $effect-color;
$footer-text-color: $lightest-color;

//measures
$main-font-size: 18px;
$discreet-font-size: 14px;
$sec-font-size: 16px;
$secondary-title-font-size: 32px;
$highlight-font-size: 28px;
$sec-highlight-font-size: 22px;
$social-link-font-size: 36px;

$animation-duration: .3s;

//fonts
$main-font-family: 'Titillium Web', sans-serif;

//reset
body {
	margin: 0;
}

%reset-list {
	padding-left: 0;

	> li {
		list-style: none;
	}
}

//placeholder styles - cannot be combined into 1 css rule!
::-webkit-input-placeholder {
	color: $main-font-color;
	font-family: $main-font-family;
	font-size: $main-font-size;
}
:-moz-placeholder { /* Firefox 18- */
	color: $main-font-color;
	font-family: $main-font-family;
	font-size: $main-font-size;
}
::-moz-placeholder { /* Firefox 19+ */
	color: $main-font-color;
	font-family: $main-font-family;
	font-size: $main-font-size;
}
:-ms-input-placeholder {  
   color: $main-font-color;
   font-family: $main-font-family;
   font-size: $main-font-size;
}

a,
button {
	text-decoration: none;
	font-size: $main-font-size;
	font-family: inherit;
}

.hide {
	display: none;
}

//main
body {
	font-family: $main-font-family;
	color: $main-font-color;
	background-color: $body-bg-color;
	font-size: $main-font-size;
}

.main-wrapper {
	max-width: 1280px;
	margin: 0 auto;
}

//header
.header-wrapper {
	background-color: $header-wrapper-bg-color;
	text-align: center;
	margin-top: 96px;
	overflow: hidden;
}

.header {
	overflow: hidden;
	margin: 30px 0;
}

.navigation {
	margin: 20px auto;

	.navigation-list {
		@extend %reset-list;
		margin-left: 80px;

		> li {
			display: inline-block;
			margin-right: 30px;

			.nav-link {
				color: $main-font-color;
				padding: 0 5px;
				-webkit-transition: border $animation-duration; /* Safari */
				transition: border $animation-duration;

				&:hover {
					text-decoration: none;
					border-bottom: 3px solid;
				}
			}
		}
	}
}

.logo {
	color: $main-font-color;
	font-size: 50px;
	font-weight: 600;
	text-transform: uppercase;

	&:hover {
		text-decoration: none;
		color: $main-font-color;
	}
}

.video-wrapper {
	height: 650px;
	position: relative;

	.play-button {
		$play-button-diameter: 92px;

		width: $play-button-diameter;
		height: $play-button-diameter;
		position: absolute;
		top: 50%;
		right: 50%;
		border-radius: 54px;
		background-color: $play-button-bg-color;
		margin: -$play-button-diameter/2 0 -$play-button-diameter/2;
		cursor: pointer;
		-webkit-transition: background-color $animation-duration; /* Safari */
		transition: background-color $animation-duration;

		&:before {
			content: "";
			position: absolute;
			top: 23px;
			left: 34px;
			width: 0;
			height: 0;
			border-top: 23px solid transparent;
			border-bottom: 23px solid transparent;
			border-left: 35px solid $play-button-icon-color;
		}
	}

	&:hover {
		.play-button {
			background-color: darken($play-button-bg-color, 10)
		}
	}
}

//content
.content-wrapper {
	background-color: $content-wrapper-bg-color;
	overflow: hidden;
}

.section {
	text-align: center;
	margin: 150px 0;

	.column-wrapper {
		font-size: 0;
		width: percentage(890/1280);
		margin: 0 auto;
	}

	.column {
		font-size: $main-font-size;
		text-align: left;
		width: percentage(1/2);
		vertical-align: top;
		display: inline-block;
		box-sizing: border-box;

		&:first-child {
			padding-right: 30px;
		}

		&:last-child {
			padding-left: 30px;
		}

		.main-title:first-child {
			margin-top: 0;
		}

		.main-input {
			margin-bottom: 30px;
		}
	}

	&.newsletter {
		.secondary-title {
			font-size: $secondary-title-font-size;
		}
	}

	&.animation-element {
		&.in-view {
			.stats-list {
				> li:before {
					width: 60px;
					height: 60px;
				}
			}
		}
	}
}

.img-solutions {
	display: block;
	margin: 80px auto;
}

.main-title {
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.secondary-title {
    margin-bottom: 20px;
    font-weight: 300;
}

.main-paragraph {
	margin-bottom: 30px;
}

//forms
.main-button {
	background-color: $main-button-bg-color;
	border: 2px solid $main-button-bg-color;
	padding: 15px 30px;
	color: $main-button-font-color;
	text-transform: uppercase;
	border-radius: 2px;
	margin-right: 20px;
	min-width: 150px;
	cursor: pointer;
	-webkit-transition: background-color $animation-duration, color $animation-duration; /* Safari */
	transition: background-color $animation-duration, color $animation-duration;

	&:hover {
		background-color: $main-button-hover-bg-color;
		text-decoration: none;
		border-color: $main-button-hover-color;
		color: $main-button-hover-color;
	}

	&:last-child {
		margin-right: 0;
	}
}

.main-input {
	padding: 16px;
	border: 1px solid $main-input-border-color;
	border-radius: 1px;
	margin-right: 15px;
	width: 100%;
	font-size: $main-font-size;
	font-family: $main-font-family;
	box-sizing: border-box;
}

.main-textarea {
	height: 222px;
}

.button-wrapper {
	margin: 50px 0;
}

.newsletter_subscribe {
	.main-input {
		width: 437px;
	}

	.main-button {
		margin: 0;
	}
}

//lists
.main-list {
	@extend %reset-list;

	> li {
		margin-bottom: 10px;

		&:before {
			content: "";
			background-color: $list-bullet-bg-color;
			width: 27px;
			height: 27px;
			display: inline-block;
			border-radius: 50%;
			vertical-align: middle;
			margin-right: 15px;
		}
	}
}

.block-list {
	@extend %reset-list;
	font-size: 0;

	> li {
		width: percentage(1/3);
		display: inline-block;
		font-size: $main-font-size;

		.block-img {
			vertical-align: center;
		}

		.block-extra {
			font-size: $discreet-font-size;
		}

		.block {
			background-color: $block-list-bg-color;
			border-left: 1px solid $block-list-border-color;
			border-top: 1px solid $block-list-border-color;
			position: relative;
			height: 320px;
			display: flex;
			align-items: center;
			justify-content: center;

			.block-info {
				bottom: 0;
				height: 0;
				left: 0;
				overflow: hidden;
				width: 100%;
				position: absolute;
				background-color: $block-list-hover-bg-color;
				color: $block-info-text-color;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				-webkit-transition: height $animation-duration; /* Safari */
				transition: height $animation-duration;
			}

			&:hover {
				&.hover-full {
					.block-info {
						height: 100%;
					}
				}

				&.hover-mid {
					.block-info {
						height: 30%;
					}
				}
			}
		}
	}
}

.stats-list {
	@extend %reset-list;
	display: table;
	margin: 0 auto;
	width: 80%;

	> li {
		display: table-cell;
		width: percentage(1/6);

		&:before {
			content: "";
			background-color: $list-bullet-bg-color;
			width: 0;
			height: 0;
			display: block;
			border-radius: 50%;
			vertical-align: middle;
			margin: 0 auto 30px;
			-webkit-transition: width 2s, height 2s; /* Safari */
			transition: width 2s, height 2s;
		}

		.stats-number,
		.stats-name {
			display: block;
		}

		.stats-number {
			font-size: $highlight-font-size;
			font-weight: bold;
		}

		.stats-name {
			font-size: $sec-font-size;
			color: $sec-font-color;
			font-weight: 300;
		}
	}
}

.social-list {
	@extend %reset-list;

	> li {
		display: inline-block;
		vertical-align: top;
		margin-right: 30px;

		&:last-child {
			margin-right: 0;
		}

		.social-link {
			border: 1px solid $social-link-border-color;
			border-radius: 50%;
			width: 60px;
			height: 60px;
			box-sizing: initial;
			font-size: $social-link-font-size;
			font-weight: 300;
			display: block;
			text-align: center;
			color: $main-font-color;
			-webkit-transition: background-color $animation-duration; /* Safari */
			transition: background-color $animation-duration;

			.social-icon {
				display: block;
			}

			&.facebook {
				.social-icon {
					margin-top: 4px;
				}
			}

			&.twitter {
				.social-icon {
					margin-top: 3px;
					margin-left: -1px;
				}
			}

			&.gplus {
				.social-icon {
					margin-top: -3px;
					margin-left: -1px;
				}
			}

			&:hover {
				color: $lightest-color;
				text-decoration: none;
				background-color: $main-font-color;
			}
		}
	}
}

//carousels
.ipad-carousel-wrapper {
	background-image: url("/teste-studo/dist/img/ipad-carousel-frame.png");
	background-repeat: no-repeat;
	width: 365px;
	height: 514px;
	box-sizing: border-box;
	padding: 48px 28px;
}

.ipad-carousel {
	width: 313px;
}

.team-carousel {
	width: 74%;
	margin: 0 auto;

	.carousel-cell {
		background-color: $team-carousel-item-bg-color;
		width: 220px;
		height: 220px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 10px;

		.team-info-inner {
			padding: 40px;
		}

		.team-info {
			position: absolute;
			bottom: 0;
			height: 0;
			left: 0;
			background-color: $block-list-hover-bg-color;
			width: 100%;
			box-sizing: border-box;
			color: $team-carousel-info-text-color;
			text-align: left;
			-webkit-transition: height $animation-duration; /* Safari */
			transition: height $animation-duration;

			.secondary-title {
				text-transform: uppercase;
				margin: 0;
				font-size: $sec-highlight-font-size;
				font-weight: bold;
			}

			.position {
				font-size: $sec-font-size;
				font-weight: 300;
				margin: 10px 0;
			}

			.social-list {
				> li {
					margin-right: 20px;

					.social-link {
						width: 34px;
						height: 34px;
						font-size: $main-font-size;
						border-color: $footer-text-color;
						color: $footer-text-color;
					}
				}
			}
		}

		&:hover {
			.team-info {
				height: 100%;
			}
		}
	}

	.flickity-prev-next-button.next {
		right: -70px;
	}

	.flickity-prev-next-button.previous {
		left: -70px;
	}
}

.depositions-carousel {
	width: 74%;
	margin: 0 auto;

	.carousel-cell {
		width: 100%;
	}

	.img-deposition {
		background-color: $depositions-carousel-img-bg-color;
		border-radius: 50%;
		padding: 30px;
		display: inline-block;

		img {
			max-width: 60px;
		}
	}

	.deposition {
		font-size: $highlight-font-size;
		font-style: italic;
		color: $depositions-text-color;
		width: 100%;
	}

	.author {
		font-size: $sec-highlight-font-size;
		
		text-transform: uppercase;
	}

	.flickity-prev-next-button {
	    top: auto;
	    left: 50%;
	    bottom: -60px;

		&.previous {
			left: 45%;
		}
	}
}

.address {
	font-size: $sec-highlight-font-size;
	font-weight: 600;
	margin: 30px 0 54px;
	font-style: normal;
}

.footer {
	background-color: $footer-bg-color;
	text-align: center;
	padding: 40px 80px 30px;
	color: $footer-text-color;
	font-weight: 300;

	.logo {
		color: $footer-text-color;
	}

	.social-list {
		> li {
			.social-link {
				border-color: $footer-text-color;
				color: $footer-text-color;
			}
		}
	}
}

.disclaimer-wrapper {
	text-align: left;

	.navigate-top {
		float: right;
	}
}

.disclaimer,
.navigate-top {
	display: inline-block;
}

// html,
// body {
// 	height: 100%;
// }

// .glyphicon {
// 	margin-right: 6px;
// }

// .header {
// 	box-shadow: 0 0 10px $shadow-color;
// 	display: table;
// 	padding: 15px;
// 	width: 100%;

// 	.logo {
// 		display: table-cell;
// 		overflow: hidden;
// 		vertical-align: middle;
// 		padding-right: 10px;

// 		.logo-image {
// 			width: 100%;
// 		    max-width: 177px;
// 		}
// 	}

// 	.account-nav {
// 		color: $main-font-color;
// 		display: table-cell;
// 		margin-top: 3px;
// 		vertical-align: middle;
// 		width: 180px;
// 		position: relative;

// 		.account-img {
// 			float: left;
// 			margin-right: 5px;
// 		}

// 		.account-welcome {
// 			font-size: 11px;
// 			display: block;
// 			margin-top: 3px;
// 		}

// 		.account-icon {
// 			margin-top: -5px;
// 			position: absolute;
// 			top: 50%;
// 			right: 0;
// 		}
// 	}

// 	.name,
// 	.account-name {
// 		display: block;
// 		font-weight: bold;
// 	}

// 	.popover {
// 		padding: 0;
// 		width: 350px;
// 		max-width: none;

// 		a {
// 			color: $main-font-color;
// 		}

// 		.popover-content {
// 			padding: 0;

// 			.popover-inner-wrapper {
// 				padding: 9px 14px;
// 				display: block;
// 			}

// 			.popover-footer {
// 				border-top: 1px solid rgba(0,0,0,.2);
// 			}

// 			.initials {
// 				background-color: $initials-bg-color;
// 				border-radius: 50%;
// 				color: $lightest-color;
// 				float: left;
// 				font-size: 30px;
// 				height: 77px;
// 				line-height: 1.2;
// 				margin: 0 15px 10px 0;
// 				padding: 20px;
// 				width: 77px;
// 			}

// 			.action-link {
// 				display: block;
// 			}

// 			.last-access {
// 				color: $discreet-color;
// 				margin: 10px 0;
// 			}

// 			.logout {
// 				float: right;
// 			}
// 		}
// 	}
// }

// .sidebar {
// 	display: block;
// 	vertical-align: top;
// 	position: relative;
// 	z-index: 20;

// 	.side-navigation {
// 		-webkit-transition: all .7s; /* Safari */
// 		background-color: $sidebar-bg-color;
// 		height: 100%;
// 		overflow: hidden;
// 		position: relative;
// 		transition: all .7s;
// 		z-index: 4;
// 	}

// 	.navigation-list {
// 		padding: 0;

// 		li {
// 			height: 30px;
// 			list-style: none;
// 			margin: 20px 17px;
// 			padding: 0;
// 			width: 31px;
// 		}

// 		a {
// 			color: $lightest-color;
// 			display: block;
// 			height: $nav-item-height;
// 			overflow: hidden;
// 			position: relative;
// 			width: 220px;

// 			.glyphicon {
// 				display: inline-block;
// 				height: $nav-item-height;
// 				vertical-align: middle;

// 				&:before {
// 					font-size: 25px;
// 					-webkit-transition: margin .3s; /* Safari */
// 					transition: margin .3s;
// 				}
// 			}

// 			.nav-text {
// 				display: inline-block;
// 				height: $nav-item-height;
// 				line-height: 1.8;
// 				margin-left: 30px;
// 				overflow: hidden;
// 				position: absolute;
// 				right: 0;
// 				vertical-align: middle;
// 				width: 170px;
// 			}

// 			&:hover {
// 				.glyphicon {
// 					&:before {
// 						margin-left: 5px;
// 					}
// 				}
// 			}
// 		}
// 	}
// }

// .container-wrapper {
// 	background-color: $content-bg-color;
// 	vertical-align: top;
// 	width: 100%;

// 	.row {
// 		padding: 0;

// 		.col-md-4 {
// 			list-style: none;
// 			padding: 0;
// 		}
// 	}

// 	.cartridge {
// 		background-color: $lightest-color;
// 		box-shadow: 0 0 10px $shadow-color;
// 		height: 400px;
// 		margin-top: 20px;
// 		padding: $cartridge-padding $cartridge-padding 80px;
// 		position: relative;
// 	}

// 	.product-title {
// 		font-size: 15px;
// 		margin: 10px 0 20px;
// 	}

// 	.product-image-wrapper {
// 		box-shadow: 0 0 10px $shadow-color;
// 		margin-bottom: 20px;
// 		text-align: center;

// 		.product-image {
// 			vertical-align: top;
// 			width: auto;
// 			height: auto;
// 			max-width: 100%;
// 			display: block;
// 			margin: 0 auto;
// 		}
// 	}

// 	.product-description {
// 		color: $main-font-color;
// 		font-size: 12px;
// 		margin-bottom: 20px;
// 	}

// 	.product-price {
// 		color: $main-font-color;
// 		display: block;
// 		font-size: 30px;
// 		font-weight: bold;
// 		margin-bottom: 20px;
// 	}

// 	.product-cta {
// 		bottom: 20px;
// 		left: $cartridge-padding;
// 		position: absolute;
// 		right: $cartridge-padding;
// 		width: auto;
// 	}

// 	.carousel {
// 		.item {
// 			text-align: center;

// 			img {
// 				display: inline-block;
// 				width: 100%;
// 			}
// 		}

// 		.carousel-indicators {
// 			display: none;
// 		}

// 		.carousel-caption {
// 			background: rgba(0, 0, 0, 0.5);
// 			bottom: 0;
// 			left: 0;
// 			padding: 15px;
// 			right: 0;
// 			text-align: left;

// 			.caption-title,
// 			.caption-description {
// 				display: inline;
// 			}

// 			.caption-description {
// 				margin-left: 20px;
// 				font-size: 15px;
// 				color: grey;
// 			}
// 		}
// 	}

// 	.datetimepicker {
// 		background: $lightest-color;
// 		border: 1px solid grey;
// 		border-radius: 4px;
// 	}

// 	.row {
// 		&.special-grid {
// 			.column1,
// 			.column2 {
// 				margin-top: 30px;
// 			}
// 		}
// 	}
// }

// .container-fluid {
// 	padding: 0 30px;
// 	width: 100%;
// }

// @media (min-width: 768px) { //desktop
// 	.header-wrapper {
// 		height: $header-height;
// 		width: 100%;
// 	}

// 	.content-wrapper {
// 		bottom: 0;
// 		position: absolute;
// 		top: $header-height;
// 		width: 100%;
// 	}

// 	.content-inner-wrapper {
// 		display: table;
// 		height: 100%;
// 	}

// 	.sidebar,
// 	.container-wrapper {
// 		display: table-cell;
// 		height: 100%;
// 	}

// 	.container-wrapper {
// 		width: 100%;

// 		.row {
// 			.col-md-4 {
// 				list-style: none;
// 				padding: 0 15px;
// 			}

// 			&.special-grid {
// 				display: table;
// 				width: 100%;
// 				margin: 20px 0 0;

// 				.column1,
// 				.column2 {
// 					display: table-cell;
// 					vertical-align: middle;
// 				}

// 				.column2 {
// 					width: 280px;
// 				}
// 			}	
// 		}

// 		.form-group {
// 			margin: 0 0 0 10px;
// 		}
// 	}

// 	.sidebar {
// 		display: block;
// 		max-width: $sidebar-width;
// 		overflow: visible;
// 		width: 60px;

// 		.side-navigation {
// 			width: 60px;
// 		}

// 		&:hover {
// 			.side-navigation {
// 				width: $sidebar-width;
// 			}
// 		}
// 	}
// }

// @media (min-width: 1280px) { //desktop wide
// 	.sidebar {
// 		width: $sidebar-width;

// 		.side-navigation {
// 			width: $sidebar-width;
// 		}
// 	}
// }